.Footer {
    
    background: url(../../../images/Footer/Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;
    margin-top: 40px;


}



.Footer_Text {
    width: 1420px !important;
    margin-left: 100px !important;
    padding-top: 250px!important;
    color: #FFFFFF;
    padding-bottom: 50px;
    position: relative;

}

.Text .text-alin img {
    width: 100px;
    position: absolute;
    top: 210px;
    left: 35px;
}


.Footer_Text .Text p {
    width: 150px;
    font-size: 20px;
    padding-top: 30px;
    font-weight: 600;
}

.Link .UnorderLisrt .Itam{
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
}

.Link h2 {
    color: #FFFFFF;
    font-size: 30px;
    padding-bottom: 30px;
}


.Contact h2{
    padding-bottom: 30px;
    color: #FFFFFF;
}




.Contact-text {
    width: 200px;
    margin: 0a;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    color: #292bae;
}


.Contact .Contact-img  img {
    width: 30px;
    height: 30px;
    margin: 5px;
}




.Contact-img {
    padding-top: 30px;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   

    .Footer{
        background: #292bae;
        padding: 0px;
    }
    .Footer_Text{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px !important;
    }


    .Footer_Text .Text {
        display: none;
    }


    .Link{
        height: 245px;
    }
    
   


    }

