.Instructor{
    width: 400px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 15px;
    cursor: pointer;
}




.Instructor img {
    width: 300px;
    border-radius: 20px;
    margin: 20px;
    height: 220px;
}



.Instructor h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 0px !important
}



.Instructor p{
    font-size: 17px;
    color: rgb(129, 129, 129);
    font-weight: 400;
}