.Customer{
    padding: 20px 150px 200px;
}

.Customer h1{
    width: 600px;
}


.Customer p{
    width: 350px;
    font-size: 18px;
    color: #555555;
}


.imeages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 100px;
    
}

.imeages img{
    width: 100%;
    padding-right: 50px;
    line-height: 20px;
    cursor: pointer;
   
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .imeages {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .imeages img {
        width: 200px;
        line-height: 60px;
        cursor: pointer;
        margin: 39px;
    }
    
    .Customer p {
        width: 200px;
        font-size: 18px;
        color: #555555;
    }

    .Customer h1 {
        width: 200px;
        font-size: 20px;
    }



    }