.Log-In{
    background:  url(../../../images//Login/Log-In.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    color: aliceblue;
    text-align: center;
    
}

.Log-In{
    opacity: 0.8;
   
  }

Input{
    padding:  30px !important;;
}


  .Button-Images img{
    width: 50px;
  }